#ignore files

trivial-sequential-server/TriSeqCliente/out/
trivial-sequential-serverTriSeqServer/out/
trivial-sequential-server/TriSeqCliente/.idea/sonarlint/
trivial-sequential-server/TriSeqServer/.idea/sonarlint/
